@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

html {
  scroll-behavior: smooth;
}

@keyframes blob {
  0% {
    border-radius: 40% 60% 60% 40% / 60% 40% 60% 40%;
  }

  33% {
    border-radius: 60% 40% 40% 60% / 40% 60% 40% 60%;
  }

  66% {
    border-radius: 45% 55% 65% 35% / 55% 45% 35% 65%;
  }

  100% {
    border-radius: 40% 60% 60% 40% / 60% 40% 60% 40%;
  }
}


body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.no-scrollbar {
  scrollbar-width: none;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}